body {
    margin:0;
    font-family : arial, sans-serif;
}
.header {
    display: flex;
    text-align : centre;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #111;
    color: white;

}

.logo {
    color :white
}
.header nav a {
    color :white;
    margin-left: 25px;
    font-size: 16px;

}

.hero h1 {
    font-size : 42px;
    margin-bottom: 15px;
}
.hero p{
    font-size : 18px;
    /* max-width : 600px; */
    margin-bottom : 25px;
}
.hero button{
    width: 140px;
    padding: 10px;
    font-size:16px;
    background-color: black;
    color:white;
    cursor : pointer;
}