body {
    margin:0;
    font-family : arial, sans-serif;
}
.header {
    display: flex;
    text-align : center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #111;
    color: white;

}

.logo {
    color :white
}
.header nav a {
    color :white;
    margin-left: 25px;
    font-size: 16px;

}

.hero h1 {
    font-size : 42px;
    margin-bottom: 15px;
}
.hero p{
    font-size : 18px;
    /* max-width : 600px; */
    margin-bottom : 25px;
}
.hero button{
    width: 140px;
    padding: 10px;
    font-size:16px;
    background-color: black;
    color:white;
    cursor : pointer;
}
.features {
    padding :60px 20px;
    text-align : center;
    background-color: #f9f9f9
}
.features h2 {
    font-size : 32px;
    margin-bottom : 40px;
}
.features-container {
    display: flex;
    justify-content : center;
    gap : 20px;
    flex-wrap : wrap;
}
.feature-box {
    background-color : white;
    padding : 20px;
    border-radius : 8px;
    box-shadow : 0 2px 5px rgba(0,0,0,0.1);
    width : 250px;
}
.footer{
    text-align : center;
    padding : 20px;
    background-color: #222;
    color : white;

}